<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461358358853-08li51o1mo1tqmcj5c9j345skjumibgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461358358853-08li51o1mo1tqmcj5c9j345skjumibgt</string>
	<key>API_KEY</key>
	<string>AIzaSyA6VSHhx-07_UB1xe4CthjHqAHC5G6gmyo</string>
	<key>GCM_SENDER_ID</key>
	<string>461358358853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cavalgo.aichatvoice.aiChatVoice</string>
	<key>PROJECT_ID</key>
	<string>my-ai-voice-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>my-ai-voice-assistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461358358853:ios:52a0d10cee4096631e1e2c</string>
</dict>
</plist>